body
{
	margin: 0;
	font-size: 8pt;
}

#map
{
	height: 100%;
	width: 100%;
	position: absolute;
}

#map .olControlAttribution
{
	bottom: 0.5em;
	right: 0.5em;
}

#map .olControlLayerSwitcher
{
	top: 0;
	right: 0;
}

#map .olControlPermalink
{
	left: 0.5em;
	bottom: 0.5em;
	right: auto;
}

.overbox
{
	position: absolute;
	background-color: #404040;
	color: #d0ffd0;
	border: 1px dotted #d0ffd0;
	padding: 1em;
	opacity: 0.9;
}

#innerpane
{
	right: 1em;
	bottom: 2em;
	top: 1em;
	width: 26em;
	overflow-y: scroll;
}

#innerpane h1
{
	margin: 0;
	margin-top: 0.5em;
	padding-top: 0.5em;
	border-top: 1px dotted #d0ffd0;
}

#innerpane a , #innerpane a:visited
{
	color: #d0ffd0;
	background-color: #505050;
	text-decoration: underline;
}

#innerpane button
{
	font-size: 100%;
	background-color: #505050;
	color: #d0ffd0;
	border: 1px dotted #d0ffd0;
}

#innerpane select
{
	font-size: 100%;
}

#innerpane button > *
{
	vertical-align: middle;
}

#innerpane .menu
{
	margin: 0.5em 0em
}

#innerpane .menu > a
{
	margin-right: 0.5em
}

#details._state_requesting
{
	background-image: url('16spinner.gif');
	background-repeat: no-repeat;
	background-position: center;
}

#details .content ul
{
	padding-left: 0;
	list-style: none;
}

#details .content ul > li ul
{
	padding-left: 1em;
}

#details .pstate
{
	margin-top: 1em;
}

#details .pstate ul.matches > li
{
	font-size: 80%;
	margin-bottom: 0.5em;
}

#details .cstate ._statedesc
{
	font-weight: bold;
}

#details._state_noselection .content ul , #details._state_requesting .content ul , #details._state_error .content ul
{
	display: none;
}

#details table.osl_tools
{
	width: 100%;
	font-size: 90%;
}

#details .osl_button_menu button
{
	margin-right: 0.5em;
}

#details .osl_link_menu
{
	text-align: right;
}

#details .osl_link_menu > a
{
	margin-left: 1em
}

#details._state_noselection table.osl_tools
{
	display: none;
}

#innerpane.compact
{
	top: auto;
}

#innerpane.compact #details
{
	display: none;
}

#innerpane button.hidedetails , #innerpane button.showdetails
{
	display: block;
	width: 100%;
	margin-top: 0.5em;
}

#innerpane.compact button.hidedetails
{
	display: none;
}

#innerpane button.showdetails
{
	display: none;
}

#innerpane.compact button.showdetails
{
	display: block;
}

#innerpane h3
{
	margin-top: 0.5em;
}

#request_status_monitor
{
	border-collapse: collapse;
	width: 100%;
	text-align: right;
}

#request_status_monitor td:first-child
{
	text-align: left;
}

#request_status_monitor td
{
	vertical-align: middle;
}

#request_status_monitor._state_error
{
	background-color: #b00;
	color: white;
}

#request_status_monitor._state_requesting
{
	background-image: url('16spinner.gif');
	background-repeat: no-repeat;
	background-position: center;
}

#request_status_monitor._state_requesting > *
{
	visibility: hidden;
}

#request_status_monitor button.status_rerequest
{
	margin: 1px;
}

#request_status_monitor .nonauthoritativedisplay
{
	display: none;
}

#request_status_monitor._nonauthoritative .nonauthoritativedisplay
{
	display: inline;
}

#disclaimer
{
	-moz-user-select: none;
	text-transform: uppercase;
	position: absolute;
	bottom: 0.5em;
	left: 10em;
	right: 10em;
	text-align: center;
	z-index: 5000;
}

#shortdesc , #rssdesc
{
	display: none;
}

#shortdesc.showdesc , #rssdesc.showdesc
{
	display: block;
}

#shortdesctrigger:before , #rssdesctrigger:before
{
	content: '▾'
}

#shortdesctrigger.showdesc:before , #rssdesctrigger.showdesc:before
{
	content: '▴'
}

#innerpane abbr.help
{
	vertical-align: super;
	border: none;
	padding: 1px;
	background-color: #505050;
	cursor: help;
}

#innerpane button
{
	padding: 1px;
}

#innerpane strong[title]
{
	border-bottom: 1px dotted #d0ffd0;
	cursor: help;
}

.buttonicon16
{
	padding: 8px;
	margin-right: 4px;
}

.buttonicon16:last-child
{
	margin: 0;
}

.buttonicon16.zoomtomagnifyingglass16
{
	background-image: url('16zoomtomagnifyingglass.png');
	background-repeat: no-repeat;
	background-position: center;
}

.buttonicon16.zoomtomagnifyingglassjosm16
{
	background-image: url('16zoomtomagnifyingglassjosm.png');
	background-repeat: no-repeat;
	background-position: center;
}
