{% extends "root_template.xhtml" %}

{% load static %}

{% block extra_head %}
	{% for label , desc in feed_endpoints.iteritems %}
		<link rel="alternate" type="application/rss+xml" title="{{ desc }}" href="{% url "oslmusicalchairs.views.feed" label %}" id="feed_{{ label }}"/>
	{% endfor %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{% static "unversioned/lib/openlayers/OpenLayers.js" %}"></script>
<script type="text/javascript">
//<![CDATA[
var _state_noselection = 0;
var _state_requesting = 1;
var _state_error = 2;
var _state_selection = 3;
var _state_idle = 4;

var _view_mode_authoritative = 0;
var _view_mode_nonauthoritative = 1;

var state_classes = [
	"_state_noselection" ,
	"_state_requesting" ,
	"_state_error" ,
	"_state_selection" ,
	"_state_idle"
];

var param_not_used_text = "Parameter does not influence matching (yet?)";

var name_filter = null;
var name_inc_filter = null;
var ref_filter = null;

var mock_wfs_url = function ( view_mode )
{
	var url = "{% url "oslmusicalchairs.views.mock_wfs" "" %}" + view_mode;
	var param_obj = {};
	
	if ( name_filter )
		param_obj["name"] = name_filter;
	if ( name_inc_filter )
		param_obj["name_inc"] = name_inc_filter;
	if ( ref_filter )
		param_obj["ref"] = ref_filter;
	
	if ( $.isEmptyObject ( param_obj ) )
		return url;
	else
		return url + "?" + $.param ( param_obj );
};

// This monkeypatch allows us to still use double click to zoom in even when mouse
// is over a selectable feature, but will probably stop double clicks working with
// SelectFeatures etc.
OpenLayers.Handler.Feature.prototype.dblclick = function ( e ) { return true; };

// Pseudo-constructor
var RequestStatusMonitor = function ( input_element , bbox_strategy )
{
	var rsm = input_element;
	var status_display = rsm.find ( ".status_display" );
	var status_rerequest = rsm.find ( "button.status_rerequest" );

	var state;

	var changestate = function ( new_state )
	{
		rsm.removeClass ( state_classes[state] );
		state = new_state;
		rsm.addClass ( state_classes[state] );
	};

	rsm.data ( "nonauthoritativeselector" , rsm.find ( "._nonauthoritativeselector" ) );

	changestate ( _state_idle );

	// Monkeypatching OpenLayers.Request.issue allows us to snoop on calls to it.
	var OpenLayers_Request_issue_orig = OpenLayers.Request.issue;
	OpenLayers.Request.issue = function ( config )
	{
		changestate ( _state_requesting );
		return OpenLayers_Request_issue_orig.apply ( OpenLayers.Request , [ config ] );
	};
	
	OpenLayers.Request.events.register ( "success" , $("#request_status") , function ( e )
	{
		var exception_re = /\<ExceptionText\>(.*)\<\/ExceptionText\>/
		var exception_match = e.request.responseText.match ( exception_re );
		if ( exception_match === null )
		{
			changestate ( _state_idle );

			// This is a pretty damn horrible way of doing it, but we only get given the text here
			// and we don't really want to have to parse the json twice. Especially seeing as a
			// lot of the time we will be getting result_limit results. i.e. lots. If there is any
			// "type" : "Point" property anywhere in the response, it is considered non-authoritative.
			var point_re = /\"type\"\s*:\s*\"Point\"/;
			if ( point_re.test ( e.request.responseText ) )
			{
				status_display.html ( "<abbr class='help' title='Non-authoritative views are shown when there are too many results in an area to show all results. Zoom in to get an authoritative view'>?</abbr>" );
				rsm.addClass ( "_nonauthoritative" );
				rsm.trigger ( "changeviewmode" , [ _view_mode_nonauthoritative ] );
			}
			else
			{
				status_display.text ( "Authoritative view." );
				rsm.removeClass ( "_nonauthoritative" );
				rsm.trigger ( "changeviewmode" , [ _view_mode_authoritative ] );
			}
		}
		else
		{
			changestate ( _state_error );
			status_display.text ( exception_match[1] );
			rsm.removeClass ( "_nonauthoritative" );
		}
	} );

	OpenLayers.Request.events.register ( "failure" , $("#request_status") , function ( e )
	{
		changestate ( _state_error );
		status_display.text ( "Error fetching results." );
		rsm.removeClass ( "_nonauthoritative" );
	} );

	status_rerequest.click ( function (e)
	{
		bbox_strategy.calculateBounds ();
		bbox_strategy.triggerRead ();
	} );

	return rsm;
};

// pseudo-constructor
var DetailView = function ( input_widget , colorselectorfunction )
{
	var dv = input_widget;
	var content = $( "<div class='content'></div>" );
	dv.append ( content );
	var latest_xhr;
	var latest_id;
	var state;
	var selected_osl = null;
	var changestate = function ( newstate )
	{
		if ( state != null )
			dv.removeClass ( state_classes[state] );
		state = newstate;
		dv.addClass ( state_classes[state] );
	};
	changestate ( _state_noselection );

	var statedescfunction = function ( stateobj , featureattrs )
	{
		// an "identical" python implementation of this exists as a property on the Match model
		if ( "ldist" in stateobj )
		{
			var newtext;
			if ( stateobj.ldist == 0 )
				newtext = "Near perfect match.";
			else if ( stateobj.ldist < 1 )
				newtext = "Probably just a spacing disagreement.";
			else if ( stateobj.ldist <= 2 )
				newtext = "Probable match with small disagreement.";
			else if ( stateobj.ldist <= 4 )
				newtext = "Possible match with major disagreement.";
			else
				newtext = "Unlikely match.";

			if ( ! stateobj.refs_match )
				newtext += " Refs do not match.";

			if ( stateobj.not_name_match )
				newtext += " not:name implies Locator entry is wrong.";

			return newtext;
		}
		else
		{
			if ( ( "has_name" in featureattrs && featureattrs["has_name"] ) || ( ( ! ( "has_name" in featureattrs ) ) && featureattrs.name !== "" ) )
				return "No match";
			else
				return "No exact match: locator entry has no name";
		}
	};

	var createstateul = function ( stateobj , featureattrs )
	{
		var rootul = $("<ul/>");

		$("<li class='_statedesc'/>").append( $("<span class='_statepatch'>&bull;</span>").css ( "color" , colorselectorfunction ( stateobj , featureattrs ) ) ).append(" ").append( $("<span class='fieldvalue'/>").text ( statedescfunction ( stateobj , featureattrs ) ) ).appendTo ( rootul );
		if ( "osmway_id" in stateobj && "osmway_version" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("OSM id:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").append (
					$("<a/>").text(stateobj.osmway_id).attr ( "href" , osmbrowse_url ( stateobj.osmway_id ) )
				).append(" ").append (
					$("<a/>").text("v"+stateobj.osmway_version).attr ( "href" , osmhistory_url ( stateobj.osmway_id , stateobj.osmway_version ) )
				)
			).appendTo ( rootul );
		if ( "osmway_name" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("OSM name:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.osmway_name )
			).appendTo ( rootul );
		if ( "osmway_name_en" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("OSM name:en:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.osmway_name_en )
			).appendTo ( rootul );
		if ( "osmway_name_cy" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("OSM name:cy:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.osmway_name_cy )
			).appendTo ( rootul );
		if ( "osmway_name_gd" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("OSM name:gd:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.osmway_name_gd )
			).appendTo ( rootul );
		if ( "osmway_alt_name" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("OSM alt_name:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.osmway_alt_name )
			).appendTo ( rootul );
		if ( "osmway_ref" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("OSM ref:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.osmway_ref )
			).appendTo ( rootul );
		if ( "osmway_not_name" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("OSM not:name:").attr ( "title" , param_not_used_text )
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.osmway_not_name )
			).appendTo ( rootul );
		if ( "osmway_note" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("OSM note:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.osmway_note )
			).appendTo ( rootul );
		if ( "osmway_notes" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("OSM notes:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.osmway_notes )
			).appendTo ( rootul );
		if ( "ldist" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("Ldist:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.ldist )
			).appendTo ( rootul );
		if ( "matchset_pub_date" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("Match pub date:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.matchset_pub_date )
			).appendTo ( rootul );
		if ( "matchset_planet_date" in stateobj )
			$("<li/>").append( 
				$("<strong/>").text("Match OSM planet date:")
			).append(" ").append(
				$("<span class='fieldvalue'/>").text ( stateobj.matchset_planet_date )
			).appendTo ( rootul );

		return rootul
	};

	var contentheader = $( "<h3>No Selection</h3>" );
	var contentpermalink = $( "<a class='oslpermalink'>Permalink</a>" );
	var contenteditlink = $( "<a class='osleditlink'>Edit area</a>" );
	content.append ( contentheader );
	var osl_tool_table = $("<table class='osl_tools'/>");
	var osl_tool_table_row = $("<tr/>");
	var osl_zoom_to_button = $("<button><span class='buttonicon16 zoomtomagnifyingglass16'/>Zoom to</button>");
	var osl_zoom_to_josm_button = $("<button title='Zoom to area in JOSM (using remotecontrol)'><span class='buttonicon16 zoomtomagnifyingglassjosm16'/></button>");
	osl_tool_table.append ( osl_tool_table_row );
	osl_tool_table_row.append ( $("<td class='osl_button_menu'/>").append ( osl_zoom_to_button ).append ( osl_zoom_to_josm_button ) );
	osl_tool_table_row.append ( $("<td class='osl_link_menu'/>").append ( contentpermalink ).append ( contenteditlink ) );
	content.append ( osl_tool_table );

	var ul = $("<ul/>");
	var fieldvalue = $( "<span class='fieldvalue'></span>" );
	var linkfieldvalue = $( "<a/>" );
	var contentfields = {
		name : fieldvalue.clone () ,
		ref : fieldvalue.clone () ,
		settlement : fieldvalue.clone () ,
		locality : fieldvalue.clone () ,
		cou_unit : fieldvalue.clone () ,
		local_authority : fieldvalue.clone () ,
		tile_10k : fieldvalue.clone () ,
		tile_25k : fieldvalue.clone () ,
		source : fieldvalue.clone () ,
		cstate : $("<div/>") ,
		pstatesul : $("<ul class='matches'/>")
	};


	ul.append( $("<li><strong>Name: </strong></li>").append ( contentfields.name ) );
	ul.append( $("<li><strong>Ref: </strong></li>").append ( contentfields.ref ) );
	ul.append( $("<li><strong>settlement: </strong></li>").append ( contentfields.settlement ) );
	ul.append( $("<li><strong>locality: </strong></li>").append ( contentfields.locality ) );
	ul.append( $("<li><strong>cou_unit: </strong></li>").append ( contentfields.cou_unit ) );
	ul.append( $("<li><strong>local_authority: </strong></li>").append ( contentfields.local_authority ) );
	ul.append( $("<li><strong>tile_10k: </strong></li>").append ( contentfields.tile_10k ) );
	ul.append( $("<li><strong>tile_25k: </strong></li>").append ( contentfields.tile_25k ) );
	ul.append( $("<li><strong>source: </strong></li>").append ( contentfields.source ) );
	ul.append( $("<li class='cstate'><strong>Current State: </strong></li>").append ( contentfields.cstate ) );
	ul.append( $("<li class='pstate'><strong>Previous States: </strong></li>").append ( contentfields.pstatesul ) );

	content.append ( ul );

	var successfunction = function ( json , errortext )
	{
		// This is not the last-dispatched request. Discard.
		if ( json.id !== latest_id )
			return;

		contentfields.name.text ( json.properties.name );
		contentfields.ref.text ( json.properties.ref );
		contentfields.settlement.text ( json.properties.settlement );
		contentfields.locality.text ( json.properties.locality );
		contentfields.cou_unit.text ( json.properties.cou_unit );
		contentfields.local_authority.text ( json.properties.local_authority );
		contentfields.tile_10k.text ( json.properties.tile_10k );
		contentfields.tile_25k.text ( json.properties.tile_25k );
		contentfields.source.text ( json.properties.source );

		contentfields.pstatesul.empty ();
		contentfields.cstate.empty ();

		if ( json.properties.matches.length )
		{
			contentfields.cstate.append ( createstateul ( json.properties.matches[0] , json.properties ) );

			if ( json.properties.matches.length > 1 )
				$.each ( json.properties.matches.slice(1) , function ( i , match )
				{
					contentfields.pstatesul.append ( $("<li/>").append ( createstateul ( match , json.properties ) ) );
				} );
		}

		changestate ( _state_selection );
		selected_osl = json;
	};

	var errorfunction = function ( httprequest , errortext )
	{
		// This is not the last-dispatched request. Discard.
		if ( httprequest !== latest_xhr )
			return;

		changestate ( _state_error );
	};

	dv.bind ( "request" , function ( e , oslstreet_id , lon , lat , zoom )
	{
		// If we're already in this state, don't do anything.
		if ( state === _state_selection && selected_osl.id === oslstreet_id )
			return;

		if ( state === _state_requesting )
			latest_xhr.abort ();

		contentheader.text ( "OSL Street " + oslstreet_id );
		contentpermalink.attr ( "href" , "?osl_id=" + oslstreet_id );
		contenteditlink.attr ( "href" , osmeditarea_url ( lon , lat , zoom ) );
		changestate ( _state_requesting );

		latest_xhr = $.ajax (
		{
			type : "GET" ,
			url : oslstreet_url ( oslstreet_id ) ,
			dataType : "json" ,
			success : successfunction ,
			error : errorfunction
		} );
		
		latest_id = oslstreet_id;
	} );

	dv.bind ( "clear" , function ( e )
	{
		changestate ( _state_noselection );
		contentheader.text ( "No Selection" );
	} );

	osl_zoom_to_button.click ( function ( e )
	{
		dv.trigger ( "zoomrequest" , 
		[
			selected_osl.geometry.coordinates[0][0][0] ,
			selected_osl.geometry.coordinates[0][0][1] ,
			selected_osl.geometry.coordinates[0][2][0] ,
			selected_osl.geometry.coordinates[0][2][1]
		] );
	} );

	osl_zoom_to_josm_button.click ( function ( e )
	{
		$.ajax (
		{
			type : "GET" ,
			traditional : true ,
			url : "http://127.0.0.1:8111/load_and_zoom" ,
			data : {
				left : selected_osl.geometry.coordinates[0][0][0] ,
				bottom : selected_osl.geometry.coordinates[0][0][1] ,
				right : selected_osl.geometry.coordinates[0][2][0] ,
				top : selected_osl.geometry.coordinates[0][2][1]
			} ,
			dataType : "jsonp"
		} );
	} );

	return dv;
};

var epsg900913 = new OpenLayers.Projection ( "EPSG:900913" );
var epsg4326 = new OpenLayers.Projection ( "EPSG:4326" );

var oslstreet_url = function ( id )
{
	return "oslstreet/" + id;
};

var osmbrowse_url = function ( id )
{
	return "http://www.openstreetmap.org/browse/way/" + id;
};

var osmhistory_url = function ( id , version )
{
	return osmbrowse_url ( id ) + "/history#" + version;
};

var osmeditarea_url = function ( lon , lat , zoom )
{
	return "http://www.openstreetmap.org/edit?lon=" + lon + "&lat=" + lat + "&zoom=" + zoom
};


$( function ()
{
	var innerpane = $("#innerpane");
	var selected_osl_id;

	window.map = new OpenLayers.Map ( "map" ,
	{
		numZoomLevels: 18 ,
		controls: [
			new OpenLayers.Control.Navigation () ,
			new OpenLayers.Control.PanZoomBar () ,
			new OpenLayers.Control.LayerSwitcher () ,
			new OpenLayers.Control.Attribution ()
		]
	} );

	var baselayer = new OpenLayers.Layer.OSM ( "OpenStreetMap" );
	map.addLayer ( baselayer );
	var svlayer = new OpenLayers.Layer.OSM ( "OS StreetView" , "http://os.openstreetmap.org/sv/${z}/${x}/${y}.png" );
	map.addLayer ( svlayer );

	// More monkeypatching - this allows us to feed parameter sets to the ArgParser control which gets its args from here.
	OpenLayers.Util.original_getParameters = OpenLayers.Util.getParameters
	// We're going to memoize the window.location.href path of this function as it gets called multiple times and we're not expecting it to change.
	var getparameters_windowlocationhref_memo = null;
	OpenLayers.Util.getParameters = function ( url )
	{
		var url_parameters = OpenLayers.Util.original_getParameters ();
		
		if ( url )
			return url_parameters;

		if ( getparameters_windowlocationhref_memo === null )
		{
			var final_parameters = {};

			// document.cookie is one of those things that reminds you just how stupid the DOM is.
			var cookie_array = document.cookie.split ( ";" );
			var cookie_obj = {};
			$.each ( cookie_array , function ( i , kv_string )
			{
				var equalsindex = kv_string.indexOf ( "=" );
				cookie_obj[ kv_string.substring ( 0 , equalsindex ) ] = kv_string.substring ( equalsindex+1 );
			} );
			var cookie_parameters = OpenLayers.Util.original_getParameters ( cookie_obj.hasOwnProperty ( "oslmusicalchairs_last_permalink" ) ? "?" + cookie_obj["oslmusicalchairs_last_permalink"] : "" );

			if ( url_parameters.hasOwnProperty ( "lat" ) && url_parameters.hasOwnProperty ( "lon" ) && url_parameters.hasOwnProperty ( "zoom" ) )
			{
				// positioning information from url
				final_parameters["lat"] = url_parameters["lat"];
				final_parameters["lon"] = url_parameters["lon"];
				final_parameters["zoom"] = url_parameters["zoom"];
			}
			else if ( url_parameters.hasOwnProperty ( "osl_id" ) )
			{
				// positioning information from osl entry
{% if osl_bounds_left %}
				var osl_bounds = new OpenLayers.Bounds ( {{ osl_bounds_left }} , {{ osl_bounds_bottom }} , {{ osl_bounds_right }} , {{ osl_bounds_top }} ).transform ( epsg4326 , epsg900913 );

				final_parameters["zoom"] = map.getZoomForExtent ( osl_bounds );

				var centerlonlat = osl_bounds.getCenterLonLat().transform ( epsg900913 , epsg4326 );

				final_parameters["lat"] = centerlonlat.lat;
				final_parameters["lon"] = centerlonlat.lon;
{% endif %}
			}
			else if ( cookie_parameters.hasOwnProperty ( "lat" ) && cookie_parameters.hasOwnProperty ( "lon" ) && cookie_parameters.hasOwnProperty ( "zoom" ) )
			{
				// positioning information from cookie
				final_parameters["lat"] = cookie_parameters["lat"];
				final_parameters["lon"] = cookie_parameters["lon"];
				final_parameters["zoom"] = cookie_parameters["zoom"];
			}
			else
			{
				// We should be using default positioning information
				var default_bounds = new OpenLayers.Bounds ( {{ planet_bounds_left }} , {{ planet_bounds_bottom }} , {{ planet_bounds_right }} , {{ planet_bounds_top }} ).transform ( epsg4326 , epsg900913 );

				final_parameters["zoom"] = map.getZoomForExtent ( default_bounds );

				var centerlonlat = default_bounds.getCenterLonLat().transform ( epsg900913 , epsg4326 );

				final_parameters["lat"] = centerlonlat.lat;
				final_parameters["lon"] = centerlonlat.lon;
			}

			if ( url_parameters.hasOwnProperty ( "osl_id" ) )
			{
				// osl_id from url
				final_parameters["osl_id"] = url_parameters["osl_id"];
			}
			else if ( cookie_parameters.hasOwnProperty ( "osl_id" ) && ! ( url_parameters.hasOwnProperty ( "lat" ) && url_parameters.hasOwnProperty ( "lon" ) && url_parameters.hasOwnProperty ( "zoom" ) ) )
			{
				// osl_id from cookie
				final_parameters["osl_id"] = cookie_parameters["osl_id"];
			}
			// else no osl_id
			
			if ( url_parameters.hasOwnProperty ( "name" ) )
			{
				// name filter from url
				final_parameters["name"] = url_parameters["name"];
			}
			// else no name filter ( not taking from cookie )
			if ( url_parameters.hasOwnProperty ( "name_inc" ) )
			{
				// name filter from url
				final_parameters["name_inc"] = url_parameters["name_inc"];
			}
			// else no name_inc filter ( not taking from cookie )
			if ( url_parameters.hasOwnProperty ( "ref" ) )
			{
				// name filter from url
				final_parameters["ref"] = url_parameters["ref"];
			}
			// else no ref filter ( not taking from cookie )

			if ( url_parameters.hasOwnProperty ( "layers" ) )
			{
				// layers from url
				final_parameters["layers"] = url_parameters["layers"];
			}
			else if ( cookie_parameters.hasOwnProperty ( "layers" ) )
			{
				// layers from cookie
				final_parameters["layers"] = cookie_parameters["layers"];
			}
			// else no layers

			if ( url_parameters.hasOwnProperty ( "view_mode" ) )
			{
				// view_mode from url
				final_parameters["view_mode"] = url_parameters["view_mode"];
			}
			else if ( cookie_parameters.hasOwnProperty ( "view_mode" ) )
			{
				// view_mode from cookie
				final_parameters["view_mode"] = cookie_parameters["view_mode"];
			}
			// else no view_mode

			getparameters_windowlocationhref_memo = final_parameters;
		}

		return getparameters_windowlocationhref_memo;
	};

	window.OSLMCArgParser = OpenLayers.Class ( OpenLayers.Control.ArgParser ,
	{
		setMap : function ( map )
		{
			OpenLayers.Control.ArgParser.prototype.setMap.apply ( this , arguments );

			var params = OpenLayers.Util.getParameters ();

			if ( params.hasOwnProperty ( "osl_id" ) )
			{
				selected_osl_id = parseInt ( params["osl_id"] );
			}
			
			if ( params.hasOwnProperty ( "name" ) )
			{
				name_filter = params["name"];
			}
			
			if ( params.hasOwnProperty ( "name_inc" ) )
			{
				name_inc_filter = params["name_inc"];
			}
			
			if ( params.hasOwnProperty ( "ref" ) )
			{
				ref_filter = params["ref"];
			}

			if ( params.hasOwnProperty ( "view_mode" ) )
			{
				$("select._nonauthoritativeselector option[value=\"" + params["view_mode"] + "\"]").attr ( "selected" , "selected" );
			}
		} ,
		CLASS_NAME : "OSLMCArgParser"
	} );

	$("#innerpane button.showdetails").click ( function ()
	{
		innerpane.removeClass ( "compact" );
	} );

	$("#innerpane button.hidedetails").click ( function ()
	{
		innerpane.addClass ( "compact" );
	} );

	// Need to cheat here - put a dummy point at 1,-1 so that the bbox center ends up as 0,0
	// In fact we're using 1.1 as a workaround to Chrome bug #65238
	OpenLayers.Renderer.symbol.toprightcorner = [ 0,0, 0,1.1, -1.1,0, 0,0, 1.1,-1.1 ]

	var argparser = new OSLMCArgParser ( { displayProjection : epsg4326 } );
	map.addControl ( argparser );

	window.OSLMCPermalink = OpenLayers.Class ( OpenLayers.Control.Permalink ,
	{
		updateLink : function () {
			OpenLayers.Control.Permalink.prototype.updateLink.apply ( this , arguments );
			var current_bounds = map.calculateBounds ();
			current_bounds.transform ( epsg900913 , epsg4326 );
			var new_postfix = "?bbox=" + current_bounds.toBBOX ();

			var feed_element;
		{% for label , desc in feed_endpoints.iteritems %}
			feed_element = $("#feed_{{ label }}");
			feed_element.attr ( "href" , ( feed_element.attr ( "href" ) || "" ).split ( "?" )[0] + new_postfix );
			feed_element = $("#feedlink_{{ label }}");
			feed_element.attr ( "href" , ( feed_element.attr ( "href" ) || "" ).split ( "?" )[0] + new_postfix );
		{% endfor %}
		}
		// setting this stops it working. what gives?
		// CLASS_NAME : "OSLMCPermalink"
	} );

	window.permalink = new OSLMCPermalink ( null , document.location.href.substring ( 0 , document.location.href.indexOf('?') ) , { displayProjection : epsg4326 } );
	map.addControl ( permalink );
	permalink.activate ();

	var colorselector = function ( match , featureattrs )
	{
		if ( ! ( match && "ldist" in match ) )
		{
			if ( ( "has_name" in featureattrs && featureattrs["has_name"] ) || ( ( ! ( "has_name" in featureattrs ) ) && featureattrs.name !== "" ) )
				return "#ff0000";
			else
				return "#ee8800";
		}
		else if ( match.ldist == 0 )
			return "#00ff00";
		else if ( "not_name_match" in match && match["not_name_match"] )
			return "#ff00ff";
		else
		{
			var green = Math.round ( Math.pow ( 0.7 , match.ldist ) * 255 );
			var blue = 255 - green;
			return "rgb(0," + green + "," + blue + ")";
		}
	};

	var stylecontext = {
		boxcolor : function ( feature )
		{
			return colorselector ( feature.attributes["match"] , feature.attributes );
		} ,
		fillopacity : function ( feature )
		{
			if ( "match" in feature.attributes && feature.attributes.match.ldist === 0 && feature.geometry.CLASS_NAME !== "OpenLayers.Geometry.Point" )
				return 0.06;
			else
				return 0.1;
		} ,
		strokeopacity : function ( feature )
		{
			if ( "match" in feature.attributes && feature.attributes.match.ldist === 0 && feature.attributes.match.refs_match && feature.geometry.CLASS_NAME !== "OpenLayers.Geometry.Point" )
				return 0.2;
			else
				return 0.6;
		} ,
		strokedashstyle : function ( feature )
		{
			if ( "match" in feature.attributes && !feature.attributes.match.refs_match )
				return "dash";
			else
				return "solid";
		}
	};
	
	var stylemap = new OpenLayers.StyleMap ( {
		"default" : new OpenLayers.Style ( {
			fillOpacity : "${fillopacity}" ,
			strokeWidth : 1 ,
			strokeColor : "${boxcolor}" ,
			strokeOpacity : "${strokeopacity}" ,
			fillColor : "${boxcolor}" ,
			strokeDashstyle : "${strokedashstyle}" ,
			strokeLinecap : "butt" ,
			pointRadius : 8
		} , { context : stylecontext } ) ,
		"select" : new OpenLayers.Style ( {
			strokeOpacity : 1.0 ,
			fillOpacity : 0.2 ,
			strokeWidth : 3
		} , { context : stylecontext } )
	} );

	var pointstylecontext = {
		boxcolor : function ( feature )
		{
			return colorselector ( feature.attributes["shadow_of"].attributes["match"] , feature.attributes["shadow_of"].attributes );
		} ,
		fillopacity : function ( feature )
		{
			if ( "match" in feature.attributes["shadow_of"] && feature.attributes["shadow_of"].match.ldist === 0 )
				return 0.2;
			else
				return 0.6;
		}
	} ;

	var pointstylemap = new OpenLayers.StyleMap ( {
		"default" : new OpenLayers.Style ( {
			fillOpacity : "${fillopacity}" ,
			strokeWidth : 0 ,
			fillColor : "${boxcolor}" ,
			pointRadius : "10" ,
			graphicName : "toprightcorner"
		} , { context : pointstylecontext } ) ,
		"select" : new OpenLayers.Style ( {
			fillOpacity : 1.0
		} , { context : pointstylecontext } )
	} );

	var bbox_strategy = new OpenLayers.Strategy.BBOX ( { resFactor : 3 , ratio : 1.6 } )

	var protocol = new OpenLayers.Protocol.WFS (
	{
		url : "will be replaced" ,
		readFormat : new OpenLayers.Format.GeoJSON  ()
	} );

	var boxlayer = new OpenLayers.Layer.Vector ( "Boxes" ,
	{
		strategies : [ bbox_strategy ] ,
		protocol : new OpenLayers.Protocol.WFS (
		{
			url : "{% url "oslmusicalchairs.views.mock_wfs" "pseudorandom" %}" ,
			readFormat : new OpenLayers.Format.GeoJSON  ()
		} ) ,
		styleMap : stylemap,
		displayInLayerSwitcher : false
	} );

	var pointlayer = new OpenLayers.Layer.Vector ( "Points" ,
	{
		styleMap : pointstylemap ,
		displayInLayerSwitcher : false
	} );
	
	boxlayer.events.register ( "featureadded" , pointlayer , function ( e )
	{
		if ( e.feature.geometry.CLASS_NAME != "OpenLayers.Geometry.Point" )
		{
			var boundsarray = e.feature.geometry.getBounds().toArray ();
			var shadowfeature = new OpenLayers.Feature.Vector ( new OpenLayers.Geometry.Point ( boundsarray[2] , boundsarray[3] ) , { "shadow_of" : e.feature } );
			this.addFeatures ( shadowfeature );
			e.feature.attributes["shadow"] = shadowfeature;
		}
	} );

	var programaticallyselect = function ( selectfeaturecontrol , feature )
	{
		// Because of the way selection is handled we won't get proper deselection behaviour
		// unless we ensure a deleted lastFeature is nullified. This is a bit of a nasty hack
		// but is necessary.
		if ( selectfeaturecontrol.handlers.feature.lastFeature && (!selectfeaturecontrol.handlers.feature.lastFeature.layer ) )
			// Feature has been deleted. mark as such.
			selectfeaturecontrol.handlers.feature.lastFeature = null;

		selectfeaturecontrol.select ( feature );
	};

	boxlayer.events.register ( "featuresadded" , boxlayer , function ( e , element )
	{
		// If we already have something selected, reloading features will have deselected it in openlayers. Find it and reselect it
		if ( selected_osl_id !== null )
		{
			$.each ( e.features , function ( i , feature )
			{
				if ( feature.fid === selected_osl_id )
				{
					if ( feature.geometry.CLASS_NAME === "OpenLayers.Geometry.Point" )
						programaticallyselect ( selectbox , feature );
					else
						programaticallyselect ( selectpoint , feature.attributes["shadow"] );

					return false;
				}
			} );
		}
	} );

	boxlayer.events.register ( "featureremoved" , pointlayer , function ( e )
	{
		if ( "shadow" in e.feature.attributes )
		{
			// ensure circular reference is destroyed.
			e.feature.attributes["shadow"].attributes["shadow_of"] = null;
			this.destroyFeatures ( [ e.feature.attributes["shadow"] ] );
			e.feature.attributes["shadow"] = null;
		}
	} );

	var detailview = DetailView ( $("#details") , colorselector );

	detailview.bind ( "request" , function ()
	{
		innerpane.removeClass ( "compact" );
	} );

	detailview.bind ( "zoomrequest" , function ( e , xmin , ymin , xmax , ymax )
	{
		map.zoomToExtent ( new OpenLayers.Bounds ( xmin , ymin , xmax , ymax ).transform ( epsg4326 , epsg900913 ) , false );
	} );

	var selectbox = new OpenLayers.Control.SelectFeature ( boxlayer ,
	{
		geometryTypes : [ "OpenLayers.Geometry.Point" ] ,
		onSelect : function ( feature )
		{
			var centerlonlat = feature.geometry.bounds.getCenterLonLat().transform ( epsg900913 , epsg4326 );
			var zoom = map.getZoomForExtent ( feature.geometry.bounds );
			detailview.trigger ( "request" , [ feature.fid , centerlonlat.lon , centerlonlat.lat , zoom ] );
			selected_osl_id = feature.fid;

			permalink.updateLink ();
		} ,
		onUnselect : function ( feature )
		{
			detailview.trigger ( "clear" );
			selected_osl_id = null;

			permalink.updateLink ();
		}
	} );

	var selectpoint = new OpenLayers.Control.SelectFeature ( pointlayer ,
	{
		onSelect : function ( feature )
		{
			selectbox.select ( feature.attributes["shadow_of"] );
		} ,
		onUnselect : function ( feature )
		{
			selectbox.unselect ( feature.attributes["shadow_of"] );
		}
	} );

	map.addControl ( selectbox );
	selectbox.activate ();
	map.addControl ( selectpoint );
	selectpoint.activate ();

	var rsm = RequestStatusMonitor ( $("#request_status_monitor") , bbox_strategy );

	// don't ask why it's this specific reference chain to the url that has to be changed to change the url dynamically.
	// i don't know. it just is.
	boxlayer.protocol.options.url = mock_wfs_url ( rsm.data ( "nonauthoritativeselector" ).val () );

	map.addLayers ( [ boxlayer , pointlayer ] );
	boxlayer.redraw ();
	
	$("#shortdesctrigger").click ( function ()
	{
		$("#rssdesc").add ("#rssdesctrigger").toggleClass ( "showdesc" , false );
		$("#shortdesc").add ("#shortdesctrigger").toggleClass ( "showdesc" );
		
		// inhibit bog standard click brhaviour
		return false;
	} );
	
	$("#rssdesctrigger").click ( function ()
	{
		$("#shortdesc").add ("#shortdesctrigger").toggleClass ( "showdesc" , false );
		$("#rssdesc").add ("#rssdesctrigger").toggleClass ( "showdesc" );
		
		// inhibit bog standard click brhaviour
		return false;
	} );

	rsm.data ( "nonauthoritativeselector" ).change ( function ()
	{
		var newurl = mock_wfs_url ( $(this).val () );

		if ( protocol.url === newurl )
			return;

		// again, don't ask why it's this specific reference chain to the url that has to be changed to change the url dynamically.
		// i don't know. it just is.
		boxlayer.protocol.options.url = newurl;
		bbox_strategy.calculateBounds ();
		bbox_strategy.triggerRead ();
	} );

	rsm.bind ( "changeviewmode" , function ( e , viewmode )
	{
		pointlayer.setVisibility ( viewmode === _view_mode_authoritative );
		permalink.updateLink ();
	} );

	// Add our extra params to the permalinks
	permalink.createParams = function ( center , zoom , layers )
	{
		var param_obj = OpenLayers.Control.Permalink.prototype.createParams.apply ( this , arguments );

		if ( selected_osl_id )
			param_obj["osl_id"] = selected_osl_id;

		param_obj["view_mode"] = rsm.data("nonauthoritativeselector").val ();

		return param_obj;
	};
} );

$(window).unload ( function ()
{
	// Set cookie to current value of our permalink querystring
	document.cookie = "oslmusicalchairs_last_permalink=" + window.permalink.element.href.split ( "?" )[1] + ";expires=" + ( new Date ( Date.now () + ( 1000 * 60 * 60 * 24 * 14 ) ) ).toUTCString () ;
} );
//]]>
</script>
{% endblock %}

{% block title %}OS Locator Musical Chairs{% endblock %}

{% block body_inner %}
<div id="map"><div id="disclaimer">This is a list of disagreements, not necessarily OSM errors.</div></div>
<div id="innerpane" class="overbox">
	<!-- I would like to use non-semantic tables, but browser support for them is unreliable at the moment -->
	<table id="request_status_monitor">
		<tr>
			<td>
				<button class="status_rerequest"><img src="{% static "16reload.png" %}" alt="Reload" width="16" height="16"/></button>
			</td>
			<td>
				<span class="nonauthoritativedisplay">
					Showing
					<select class="_nonauthoritativeselector">
						<option value="pseudorandom">random sample</option>
						<option value="recentupdate">recent updates</option>
						<option value="recentrelevantupdate">recent relevant updates</option>
						<option value="badmatches">no/poor matches</option>
						<option value="authoritativeonly">only authoritative views</option>
					</select>
				</span>
				<span class="status_display"></span>
			</td>
		</tr>
	</table>
	<h1>OS Locator Musical Chairs</h1>
	<div class="menu">
		<a id="shortdesctrigger" href="#">What?</a>
		<a id="rssdesctrigger" href="#">RSS Feeds</a>
		<a href="http://humanleg.org.uk/code/oslmusicalchairs">Algorithm</a>
		<a href="data/">Data</a>
		<a href="http://wiki.openstreetmap.org/wiki/OS_Locator_Musical_Chairs/FAQ">FAQ</a>
		<a href="http://bitbucket.org/ris/oslmusicalchairs">Fork me on BitBucket</a>
	</div>
	<div id="shortdesc">
		<p>Each box or circle represents an entry in the <a href="http://wiki.openstreetmap.org/wiki/Ordnance_Survey_Opendata#OS_Locator"><acronym title="Ordnance Survey">OS</acronym> Locator</a> database. It is coloured according to whether it has a similarly named and placed counterpart in <acronym title="OpenStreetMap">OSM</acronym> and how good the agreement is between them.</p>
		<p>Boxes can be selected using the selection handle in the top right corner of each box.</p>
	</div>
	<div id="rssdesc">
		<p>
			RSS feeds for this area:
		</p>
		<ul>
		{% for label , desc in feed_endpoints.iteritems %}
			<li>
				<a href="{% url "oslmusicalchairs.views.feed" label %}" id="feedlink_{{ label }}">{{ desc }}</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	<button class="showdetails">▴ Maximize</button><button class="hidedetails">▾ Minimize</button>
	<div id="details"></div>
</div>
{% endblock %}
