{% load static %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
{% block head %}
	{% block css %}
		<link type="text/css" href="{% static "main.css" %}" rel="stylesheet" />
	{% endblock %}
		<link type="image/png" href="{% static "oslmcfavicon.png" %}" rel="icon" />
	{% block script %}
		<script type="text/javascript" src="{% static "unversioned/lib/jquery-1.4.2.min.js" %}"></script>
		{% block extra_script %}{% endblock %}
	{% endblock %}
		<title>{% block title %}{% endblock %}</title>
	{% block extra_head %}{% endblock %}
{% endblock %}
	</head>
	<body class="{% block bodyclass %}{% endblock %}">
{% block body_inner %}
{% endblock %}
	</body>
</html>
